/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&sk { /delete-property/ ignore-modifiers; };

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <39 40 41 18 30 6 7 19 31 32 20 8 9 21 33 34 22 10 11 23 35>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods_right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        hfak: hfak {
            compatible = "zmk,behavior-hold-tap";
            label = "hold_for_alt_kp";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mgl: mgl {
            compatible = "zmk,behavior-mod-morph";
            label = "morph_game_layer";
            bindings = <&mo 2>, <&tog 4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mdk: mdk {
            compatible = "zmk,behavior-mod-morph";
            label = "morph_del_key";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        COMBO_GAME_LALT {
            bindings = <&kp LALT>;
            key-positions = <24 37>;
            layers = <4>;
        };

        COMBO_GAME_LCTRL {
            bindings = <&kp LCTRL>;
            key-positions = <24 36>;
            layers = <4>;
        };

        COMBO_GAME_OVERLAY {
            bindings = <&mo 5>;
            key-positions = <36 37>;
            layers = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&hfak TAB GRAVE  &kp Q        &kp W        &kp E          &kp R         &kp T        &kp Y    &kp U         &kp I          &kp O        &kp P            &mdk
&kp LCTRL        &hml LGUI A  &hml LALT S  &hml LSHIFT D  &hml LCTRL F  &kp G        &kp H    &hmr RCTRL J  &hmr RSHIFT K  &hmr RALT L  &lt 3 SEMICOLON  &kp SQT
&kp LSHFT        &kp Z        &kp X        &kp C          &kp V         &kp B        &kp N    &kp M         &kp COMMA      &kp DOT      &kp FSLH         &kp ESC
                                           &kp LGUI       &mo 1         &kp SPACE    &kp RET  &mgl          &kp RALT
            >;
        };

        numbers {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR          &kp RPAR           &trans
&trans   &trans    &trans  &trans    &trans    &trans       &trans     &kp MINUS  &kp EQUAL  &trans            &kp BSLH           &trans
&trans   &trans    &trans  &trans    &trans    &trans       &trans     &trans     &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
            >;
        };

        nav_util {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans        &kp UP        &trans     &trans  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &kp LEFT      &kp DOWN      &kp RIGHT  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans        &trans        &trans     &trans  &trans
                                        &trans        &trans        &trans          &trans  &kp C_VOL_DN  &kp C_VOL_UP
            >;
        };

        game_base {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans    &trans
&trans  &kp A   &kp S   &kp D   &kp F   &trans    &trans  &kp J   &kp K   &kp L   &kp SEMI  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans    &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        game_overlay {
            bindings = <
&trans  &kp P     &kp O    &kp I      &kp U   &kp Y     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp SEMI  &kp L    &kp K      &kp J   &kp H     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp FSLH  &kp DOT  &kp COMMA  &kp M   &kp N     &trans  &trans  &trans  &trans  &trans  &trans
                           &trans     &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
